# mini script

##### -Maurice Prieto et Patrick Chen

In [3]:
#On importe sql pour travailler avec

%load_ext sql

### conection

In [ ]:
#On se conecte au compte respectif 

%sql postgresql://user:pass@localhost/postgres

### Création d'une table

In [ ]:
%%sql

#On creer un tableau "vide" pour les remplir avec les éléments du fichier "titanic_train.csv"

CREATE TABLE titanic
(
    Passengerld integer,
    Survived integer,
    Pclass integer,
    Name varchar(100),
    Sex varchar(20),
    Age float,
    SibSp integer,
    Parch integer,
    Ticket varchar(50),
    Fare float,
    Cabin varchar(20),
    Embarked varchar(20)
);